/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

h1,
h2 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.new{
    padding: 1px;
    top: 1px;
    width: 602px;
    height: 250px;
    border-width: 0;
    border-color: red;

}

.button:hover {
  color: #e9e9e9;
  background: darkblue;
}

.button-white {
  border: 1px solid #e9e9e9;
  color: #e9e9e9 !important;
}

.button-white:hover {
  color: #212121 !important;
  background: #e9e9e9;
}

.section-description {
  width: 80%;
  margin: auto;
}

.button-container {
  margin: 80px 0;
}

.tagseparate{
    left: 15%;
    width: 800px;
    height: auto;
    margin: 8px;
    padding: 2px;
    position: relative;
    border: 1px solid black;
}


.dropbtn {
    position: absolute;
    background-color: antiquewhite;
    width: 350px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    color: Black;
    padding: 8px;
    font-family: "Comic Sans MS";
    font-size: 14px;
    border: none;
    margin: 50px;
}



.dropbtn1 {
    position: absolute;
    background-color: antiquewhite;
    left: 0px;
    width: 350px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    color: Black;
    padding: 8px;
    font-family: "Comic Sans MS";
    font-size: 14px;
    border: none;

    /*margin: 50px;*/
}

.dropbtn2 {
    position: absolute;
    background-color: antiquewhite;
    right: 0px;
    top: 0px;
    width: 350px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    color: Black;
    padding: 8px;
    font-family: "Comic Sans MS";
    font-size: 14px;
    border: none;
    /*margin: 50px;*/
}






.imgboxm{

    position: relative;
    height: 700px;
    left: 1%;

}

.im1{
    /*position: absolute;*/
    height: 200px;
    top: 20px;
    border:none;
    margin: 5px;
    position: relative;

}




.im2{

    height: 200px;
    width: 280px;
    border:none;
    top: 20px;
    right: 5px;
    margin: 5px;
    position: absolute;

}

.ia2{

    border: 1px solid orangered;
    position: absolute;
    height: 16%;
    left: 72%;
    top: 85%;
    z-index: 1;
}



.textm1{
    width: 300px;
    height: 100px;
    position: relative;
    font-size: 18px;
    top: 20px;
    margin: 5px;
}

.texta1{
    width: 300px;
    position: absolute;
    font-size: 18px;
    top: 240px;
    right: 2px;
}

.prices{
    position: absolute;
    top: 5%;
    left: 79%;
}




header {
  background-size: cover;
  color: white;
}

header .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

header .top-nav .logo {
  font-weight: bold;
  font-size: 28px;
}

header .top-nav ul {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  width: 40%;
}

header .top-nav ul a {
  color: #e9e9e9;
}

header .top-nav ul a:hover {
  color: #d0cfcf;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 84px;
}


.hero .hero-image {
  padding-left: 60px;
}

.hero h1 {
  font-size: 52px;
  margin-top: 50px;
}

.hero p {
  margin: 40px 0 68px;
}

.hero .button {
  margin-right: 14px;
}

.featured-section {
  padding: 50px 0;
}

.featured-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
    /*align-items: flex-end;*/
}

.button1{
    position: relative;
    background-color: cornflowerblue;
    border: none;
    margin: 10px;
    padding: 15px 32px;

    left: 30%;
    font-size: 16px;
}

.button1:hover{
    color: #e9e9e9;
    background: darkgreen;

}

.button {
    background-color: firebrick;
    border: none;
    padding: 15px 32px;
    position: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
    /*font-weight: bold;*/
    color:white;


}


.flex-container {
    flex-direction: column;
    display: flex;
    height: 700px;
    align-items: center;
}

.boxedCarte{
    flex: 0;
    /*position: absolute;*/
    width: 100%;
    max-width: 100%;
    height: 39%;
    top: 10.8%;
    left: 50%;
    max-height: 39%;
    padding: 100px;
    background: cornflowerblue;
    margin: 20px;
}


.boxed{
    flex: 0;
    /*position: relative;*/
    /*max-width: 48%;*/
    /*max-height: 50%;*/
    width: 100%;
    height: 70%;
    top: 3%;
    padding: 100px;
    background: lightblue;
    margin: 20px;

}
.boxed1{
    alignment: center;
    position: relative;
    width: 80%;
    max-width: 1200px;
    height: auto;
    top: 15%;
    left: 30%;
    padding: 50px;
    background: navajowhite;
    margin: 20px;
}

.text{
    margin: 1px;
    padding: 1px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: slategray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}




.blog-section {
  background: #F5F5F5;
  border-top: 1px solid #CDCDCD;
  padding: 50px 0;
}

.blog-section .blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 60px 0 60px;
  grid-template-areas: "blog1 blog2 blog3";
}

.blog-section .blog-posts #blog1 {
  grid-area: blog1;
}

.blog-section .blog-posts #blog2 {
  grid-area: blog2;
}

.blog-section .blog-posts #blog3 {
  grid-area: blog3;
}

footer {
  background: #535353;
  color: #e9e9e9;
  padding: 40px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
}


footer .footer-content ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

footer .footer-content ul a {
  color: #e9e9e9;
}




















.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


/*formulario*/

.form-style-8{

    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    position: relative;
    top: 70%;
    left: 4%;
    margin: 2px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}



.form-style-8k{

    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;

    position: relative;
    top: 70%;
    left: 4%;

    margin: 20px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8k h2{


    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    left: 40%;
    font-size: 18px;
    font-weight: 200;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}






.form-style-8gutschein{

    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;

    position: absolute;
    top: 20.8%;
    left: 50%;

    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8gutschein h2{


    background: gray;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: lightpink;
    left: 40%;
    font-size: 18px;

    padding: 20px;
    margin: -30px -30px 30px -30px;
}




.navbar{
    z-index: 1;
}















.form-style-8 h2{


    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    left: 40%;
    font-size: 18px;
    font-weight: 200;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="text"],
.form-style-8 input[type="text"],
.form-style-8 input[type="text"],
.form-style-8 input[type="text"],
.form-style-8 input[type="email"],
.form-style-8 input[type="text"],
.form-style-8 input[type="text"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.flex-center position-ref full-height{

}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}


.position-ref {
    position: absolute;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    position: absolute;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.topnav{
    position: absolute;
    top: 10%;
    right: 20%;
    padding: 8px;
    color: #00ADEF;
}


.transbox {
    /*margin: 30px;*/
    font-size: 50%;
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    border: 1px solid black;
    opacity: 0.6;
}

.transbox p {
    /*margin: 5%;*/
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}


{
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
